@font-face {
    font-family: 'Conthrax';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/ConthraxRegular.otf') format('truetype');
}

@font-face {
    font-family: 'Berkeley';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/BerkeleyMonoVariable-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/SegoeUI.ttf') format('truetype');
}

$font-title: 'Conthrax';
$font-text: 'Segoe UI';
$font-code: 'Berkeley';

$primary-color: #21e1a1;
$background-color: #0b0d0f;
$text-color: #ffffff;
$gray-color: #C3BABA;

$container-width: 900px;
